body {
  background-image: url("markus-spiske-Mnfgvx6LGiw-unsplash.jpg");
  width: 100%;
  height: 30%;
  background-size: 1200px;
}
.main-heading {
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: bolder;
}
.clock-div {
  justify-content: center;
  display: flex;
}
.clock-div h2 {
  font-size: 4.5rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 80px;
}
.clock-div h4 {
  align-items: center;
  text-align: center;
}
.btns {
  text-align: center;
}
.btns button {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 60px;
}
